html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* pinyon-script-regular - latin */
@font-face {
    font-family: 'Pinyon Script';
    font-style: normal;
    font-weight: 400;
    src: local('Pinyon Script'), local('PinyonScript'),
         url('../fonts/pinyon-script-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/pinyon-script-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'),
       url('../fonts/merriweather-v21-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/merriweather-v21-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
         url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-slab-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-slab-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
    width: 940px;
    margin: 0 auto;
}

body {
    font-size: 14px;
    color: #777777;
    font-family: "Roboto Slab", 'Times New Roman', serif;
    font-weight: 400;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 36px;
    margin-bottom: 110px;
}

.logo {
    margin: 0;
    padding: 0;
}

.logo-link {
    font-size: 26px;
    color: #fed136;
    font-family: "Pinyon Script", Arial, sans-serif;
    text-decoration: none;
}

.site-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 480px;
    display: flex;
    justify-content: space-between;
}

.site-menu-item-link {
    font-size: 14px;
    color: #222222;
    font-family: "Montserrat", 'Arial', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.site-menu-item:hover .site-menu-item-link,
.site-menu-item:focus .site-menu-item-link {
    color: #fed136;
}

/* services section */

.section-title {
    font-size: 40px;
    color: #222222;
    font-family: "Montserrat", 'Arial', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 16px;
    font-family: "Merriweather", 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 74px;
}

.services-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.services-item {
    width: 290px;
}

.services-item::before {
    content: ' ';
    display: block;
    width: 290px;
    height: 74px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.item-1::before {
    background-image: url("../img/Circle-1.png");
}

.item-2::before {
    background-image: url("../img/Circle-2.png");
}

.item-3::before {
    background-image: url("../img/Circle-3.png");
}

.services-item-title {
    font-size: 18px;
    color: #222222;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.services-item-description {
    line-height: 22px;
    text-align: center;
    margin-bottom: 120px;
}

/* section contact */

.contact {
    padding-top: 100px;
}

.contact-content {
    background-image: url('../img/Map-Image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 678px;
}

.content-title {
    color: #ffffff;
}

.input {
    height: 212px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 28px;
}

.contact-form-item {
    width: 455px;
    height: 52px;
    color: #343434;
    font-family: "Montserrat";
    font-weight: 700;
    padding-left: 20px;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
}

.contact-form-item::placeholder {
    color: #bbbbbb;
    text-transform: uppercase;
}

.message {
    height: 212px;
    padding-top: 15px;
}

.send {
    width: 240px;
    height: 65px;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #efc535;
    background-color: #fed136;
    color: #ffffff;
    cursor: pointer;
}
